<%-  include('./include/header.ejs');  %>
<script src="js/search.js"></script>
<div class="container">
    <h1 class="display-1" style="color: black; text-align: center;">Hello <%= userType %></h1>
    <% if(userType=="doctor") { %> 
        <div class="search-bar">
            <input type="text" name="patientUserName" placeholder="Enter patient User Name" class="form-control" onkeyup="showResult(this.value)">   
            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> </button>
        </div> 

        <div id="search-result">

        </div>
    <% } %>
</div>

<%- include('include/footer.ejs'); %>